<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">A brief summary</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Me.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who am I</h4>
                                </div>
                                <div class="timeline-body">                                                              
                                    <p class="text-muted">Hello there! I am Daniel Lorenzo Laguno, a video game developer who recently graduated in UPC’s  
                                        <a href="https://www.citm.upc.edu/ing/estudis/graus-videojocs/">Design and Development of Video Games Bachelor’s Degree</a>
                                        a degree where I mainly programmed in C++ and C# and used engines like Unity and UE4. I am working as a QA Tester in 2K, but 
                                        I have also worked as a Unity Developer in a team of four people. Currently, I am looking for a full-time job as a Gameplay or AI Programmer!
                                    </p>       
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Dices.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hobbies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am a lover of high fantasy and science fiction stories as well as tabletop games, especially Dungeons & Dragons. Above all of 
                                        that, though, video games have been my passion since I was very young, and my favourites are the ones from the Bioshock and Dishonored sagas. 
                                        Nevertheless, I also enjoy going out there to take a couple of beers with my friends once in a while!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Computer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Researches</h4>
                                </div>
                                <div class="timeline-body">                 
                                    <p class="text-muted">During my second year at the degree, made research about the 
                                        <a href="https://dlorenzolaguno17.github.io/TDD/">Technical Design Document</a> of a video game. I developed as well a final thesis for my degree, called 
                                        <a href="https://github.com/DLorenzoLaguno17/Portfolio/raw/master/img/Daniel%20Lorenzo%20-%20The%20Underlying%20Message.pdf">The Underlying Message</a>
                                        where I analyzed in which ways can politics be involved in video games.
                                    </p>                                         
                                </div>
                            </div>
                        </li>        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Programming.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Professional interests</h4>
                                </div>
                                <div class="timeline-body">    
                                    <p class="text-muted">Through the different subjects of the degree I have been specializing in user interface and gameplay programming and it is 
                                        what I enjoy the most when I am working on a game. On the other hand, I have also worked on online programming, the development of our own
                                        <a href="https://github.com/Broken-Gem-Studio/Broken-Engine">game engine</a>, 
                                        and in the fields of game design, level design and quality assurance.</p>                                                                  
                                </div>
                            </div>
                        </li>                   
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>