<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">A brief summary</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Me.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who am I</h4>
                                </div>
                                <div class="timeline-body">                                                              
                                    <p class="text-muted">Hello there! I am Daniel Lorenzo Laguno, a 4th year student of UPC’s  
                                        <a href="https://www.citm.upc.edu/ing/estudis/graus-videojocs/">Design and Development of Video Games Bachelor’s Degree</a>
                                        in Barcelona, currently looking for an internship or a part-time job as a programmer.
                                    </p>       
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Dices.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hobbies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am a lover of high fantasy and science fiction stories as well as tabletop games, specially Dungeons & Dragons. Above all of that, though, video games have been my passion since I was very young, and my favourites are the ones from the Bioshock saga. Nevertheless I also enjoy going out there to take a couple of beers with my friends once in a while!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Researches</h4>
                                </div>
                                <div class="timeline-body">                 
                                    <p class="text-muted">During my second year at the degree I did a research about the 
                                        <a href="https://dlorenzolaguno17.github.io/TDD/">Technical Design Document</a>
                                        of a video game. Right now I am developing a final thesis for my degree called <i>Ends and means: the political messages in video games</i> that analyzes in wcich ways can be politics involved in video games.
                                    </p>                                         
                                </div>
                            </div>
                        </li>        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Porfessional interests</h4>
                                </div>
                                <div class="timeline-body">    
                                    <p class="text-muted">Through the different subjects of the degree I have been specializing towards user interface and gameplay programming and is what I most like to do when working on a game. On the other hand, I have also experience working with the programming of a game engine, with game and level design and with quality assurance.</p>                                                                  
                                </div>
                            </div>
                        </li>                   
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>