 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <iframe width="560" height="315" src="{{ post.video }}" frameborder="20" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <hr class="star-primary">          
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>Role:</strong>
                                    <a>{{ post.role }}</a>
                                </li>
                                <li>
                                    <strong>Date:</strong>
                                    <a>{{ post.project-date }}</a>
                                </li>
                                <li>
                                    <strong>Project page:</strong>
                                    <a href="{{ post.web }}">Show me!</a>
                                </li>
                            </ul>
                            <p align="justify">{{ post.description }}</p>    
                            <p align="justify"><i>{{ post.comment }}</i></p>                 
                            <p align="justify"><strong>Personal contribution:</strong>
                                <ul>
                                    {% for snippet in post.contribution %}
                                        <li align="justify">{{ snippet }}</li>
                                    {% endfor %}
                                <ul>                           
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}