<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">The areas in which I excel</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-keyboard-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">The program I have used the most by far is <strong>Visual Studio Community</strong>, but I have also worked with <strong>Unity</strong> 
                        and <strong>Visual Studio Code</strong>. Every single time I work on a project is through a GitHub repository, thus I have experience working with branches and 
                        merging them. When I am programming I tend to be very meticulous commenting everything I am doing and ensuring it will be understandable for whenever I need to 
                        come back and reread it. I have mainly programmed with <strong>C++</strong> language but I have notable notions of <strong>Lua</strong>, <strong>Python</strong> 
                        and <strong>C#</strong> as well. As I mention throughout my contributions in the projects of my portfolio, I am also used to working with different APIs and third 
                        party-libraries.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Quality assurance</h4>
                    <p class="text-muted">Every time we developed a game we had to go over the quality assurance process at some point on each release, testing features and tracking bugs. 
                        I got used to track every problem I found using <strong>GitHub Issues</strong> and then go to code to try to fix it. During a year I also took part in <strong>Table 
                        Flippers</strong>, a student initiative where we gathered and playtested different board games that had the intention of being published.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social & Team-related</h4>
                    <p class="text-muted">Across the university projects I have strengthened and improved my teamworking skills, being often someone who took the the reigns, cheering up 
                        and encouraging the rest of the members and keeping the focus, and I fervently believe I am a great teammate. On the other hand, I have not trouble at all speaking 
                        in public or meeting new people. Appart from that, I have been working as a teenager leisure monitor for four years along which I have either been part of a team 
                        or led one. </p>
                </div>
            </div>
        </div>
    </section>