<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">The areas in which I excel</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">The program that I have used the most by far is Visual Studio Community, but I have also worked with Unity and Visual Studio Code. 
                        When I am programming I tend to be very meticulous commenting everything I am doing and ensuring it will be understandable for whenever I need to come back 
                        and reread it. I have mainly programmed with <strong>C++</strong> language but I have notable notions of <strong>Lua</strong>, <strong>Python</strong> and 
                        <strong>C#</strong> as well. As I mention throughout my contributions in the projects of my portfolio, I am also used to work with different APIs and third 
                        party-libraries.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Quality assurance</h4>
                    <p class="text-muted">Working in quality assurance... For a year I took part in Table Flippers, a student initiative where we gathered and playtested different board games that had the intention of being published.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social & Team-related</h4>
                    <p class="text-muted">I fervently believe I am a great teammate. I have not trouble at all speaking in public or meeting new people. I have been the leader in one of my university projects. Appart from that, I have been working as a teenager leisure monitor for four years along which I have either been part of a team or lead one. </p>
                </div>
            </div>
        </div>
    </section>